.card-rates {
    background-color: var(--color-grey-background);
}

.icon-up i {
    color: var(--color-green);
}

.icon-down i {
    color: var(--color-red);
}

.icon-exchange i {
    color: var(--color-yellow);
}

.icon-up,
.icon-down {
    margin-left: 5px;
    margin-top: 6px;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-grey-titles);
    align-self: center;
}

.text-large {
    font-size: 24px;
    color: var(--color-grey-body);
}

.navbar {
    border: 1px solid var(--color-grey-border);
    padding: 0 24px;
}

.navbar-brand:hover {
    cursor: pointer;
}

.container-fluid {
    margin: 0;
}

.cards-container {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    padding: 10px 0;
    height: 100%;
    -webkit-box-shadow: 3px 3px 16px 1px rgb(45 50 72 / 20%);
    box-shadow: 3px 3px 16px 1px rgb(45 50 72 / 20%);
}

.card-currency {
    padding-bottom: 3px;
}

.card-currency p {
    margin: 0;
}

.card-currency--border {
    border-bottom: 1px solid var(--color-grey-border);
}

.btn-close {
    font-size: 9px;
    font-weight: bold;
    -webkit-text-stroke: 2px var(--color-grey-titles);
}

.card-rates .rate {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    padding: 3px 0;
}

.card-rates .rate p {
    margin-bottom: 0;
}

.icon-exchange {
    margin-left: 5px;
    font-size: 12px;
    cursor: pointer;
}

.btn-success,
.btn-primary {
    width: 100px;
}

.btn-outline-primary {
    border-color: var(--color-blue);
    color: var(--color-blue);
}

.icon-plus {
    width: 100%;
    height: 100%;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-input--center {
    padding-top: 20px;
}

.input-group-text {
    background-color: transparent;
    border: none;
    min-width: 101px;
}

.btn-add {
    width: 100%;
    height: 100%;
    font-size: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--color-grey-border);
    color: var(--color-grey-titles);
}

.btn-add:hover {
    border-color: var(--color-grey-border);
}

.blotter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.table thead {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.table> :not(:first-child) {
    border-top: none;
}

.card--add {
    padding: 0px;
    border: 0px;
    height: 260px;
}

.fa-plus {
    color: var(--color-grey-border);
    font-size: 150px;
}

.fas.fa-sort:hover {
    cursor: pointer;
}

.fas.fa-exchange-alt:hover {
    cursor: pointer;
}

:root {
    --color-grey-background: #f2f2f2;
    --color-grey-border: #dddddd;
    --color-grey-titles: #7c7c7c;
    --color-grey-body: #373a3c;
    --color-blue: #3496f0;
    --color-yellow: #f0ad4e;
    --color-green: #75d8a6;
    --color-red: #d9534f;
    --color-white: #ffffff;
    --font-openSans: "Open Sans";
}

body {
    color: var(--color-grey-body);
    font-family: var(--font-openSans), sans-serif;
}

p {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-grey-titles);
    font-weight: 700;
    font-size: 24px;
}

.btn-primary {
    background-color: var(--color-blue);
    border: none;
}

.btn-success {
    background-color: var(--color-green);
    border: none;
}

.color-titles {
    color: var(--color-grey-titles);
    font-weight: 700;
    margin: 25px 0;
}

.vertical-line {
    width: 2px;
    background-color: var(--color-grey-border);
    height: 30px;
    margin: 0 10px;
    align-self: center;
    margin-bottom: 1rem;
}

hr {
    background-color: var(--color-grey-titles);
    margin: 20px 0;
    width: 100%;
}

.link-primary:hover {
    cursor: pointer;
}

.thanks {
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 30px;
    color: var(--color-white);
}

.body-container-404 {
    background-color: var(--color-green);
    height: 100vh;
}

.background_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-bottom: 5%;
}

.main__container404 {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.message_container {
    text-align: center;
    position: relative;
    left: 3%;
}

.help-block-404 {
    text-align: center;
    color: var(--color-grey-titles);
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.button__container404 {
    text-align: center;
    position: relative;
    left: 3%;
}

.main__button404 {
    width: 40% !important;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    box-sizing: border-box;
}

p {
    margin-bottom: 0.5rem;
}

.body-container {
    display: flex;
}

.aside {
    background-color: var(--color-green);
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside__img {
    width: 350px;
    height: 350px;
}

.app {
    width: 100%;
    display: flex;
}

.mobile__image {
    display: none;
}

.main__btn {
    width: 100%;
    background-color: var(--color-blue);
    height: 40px;
    color: var(--color-white);
    font-family: "Open Sans";
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

.solid {
    margin: 2rem 0;
}

.main {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container {
    width: 45%;
}

.main__title {
    font-weight: 700;
    color: var(--color-grey-titles);
    font-family: "Open Sans";
}

p a {
    text-decoration: none;
}

.main__title {
    font-size: 24px;
}

.register {
    display: flex;
    justify-content: right;
}

.icon-auth {
    color: var(--color-grey-border);
    padding-right: 10px;
    font-size: 27px;
    display: flex;
    align-items: center;
}

.error {
    color: var(--color-red);
}

.table-responsive {
    display: block;
    height: 755px;
    overflow-y: scroll;
}

thead tr:first-child>th {
    position: sticky;
    background: var(--color-blue);
    top: 0;
}


/*Spinner loader*/

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
}


/* 
bootstrap toast */

.toast-container {
    top: 30px !important;
    z-index: 9999;
}

.twofa__title {
    font-size: 20px;
    margin-bottom: -10px;
    margin-top: 20px;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@media (max-width: 990px) {
    .aside {
        display: none;
    }
    .main {
        position: relative;
        width: 100%;
    }
    .mobile__image {
        display: unset;
        position: absolute;
        margin-top: -550px;
        margin-left: -50px;
        width: 20%;
        z-index: -1;
    }
    .register__logo {
        margin-top: -750px;
        width: 20%;
    }
}

@media (max-width: 600px) {
    .aside {
        display: none;
    }
    .main__container {
        width: 100%;
        margin: 1px;
    }
    .register {
        justify-content: center;
    }
    p {
        margin: 5px;
    }
    .main__title {
        text-align: center;
    }
    .mobile__image {
        width: 30%;
    }
    .register__logo {
        width: 20%;
        margin-top: -650px;
    }
}

.flip-card-fwd {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--color-white);
    -webkit-animation: rotate-div-fwd 1.2s ease-in-out;
    animation: rotate-div-fwd 1.2s ease-in-out;
}

@keyframes rotate-div-fwd {
    0% {
        transform: perspective(1200px) rotateX(0deg) rotateY(-179.9deg);
        -webkit-transform: perspective(1200px) rotateX(0deg) rotateY(-179.9deg);
        opacity: 0;
    }
    50% {
        transform: perspective(1200px) rotateY(0deg);
        -webkit-transform: perspective(1200px) rotateY(0deg);
    }
    100% {
        opacity: 100%;
    }
}

.flip-card-back {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--color-white);
    -webkit-animation: rotate-div-back 1.2s ease-in-out;
    animation: rotate-div-back 1.2s ease-in-out;
}

@keyframes rotate-div-back {
    0% {
        transform: perspective(1200px) rotateX(0deg) rotateY(179.9deg);
        -webkit-transform: perspective(1200px) rotateX(0deg) rotateY(179.9deg);
        opacity: 0;
    }
    50% {
        transform: perspective(1200px) rotateY(0deg);
        -webkit-transform: perspective(1200px) rotateY(0deg);
    }
    100% {
        opacity: 100%;
    }
}